{% extends "base.html" %}

{% block content %}
    <head>
        <script src="https://api-maps.yandex.ru/2.1/?apikey=18f62a6d-77ff-4bb8-8f46-3b6d164fdf4d&lang=ru_RU" type="text/javascript"></script>
<!--        <script type="text/javascript" src="{{ url_for('static', filename = 'yamaps.js')}}"></script>-->
        <script type="text/javascript">
            ymaps.ready(function () {
            var map = new ymaps.Map('map', {
                center: [59.939095, 30.315961],
                zoom: 10,
                controls: []
            });

            var myPlacemark1 = new ymaps.Placemark([59.951584, 30.328018], {
                iconContent: 'База "Рыбачок"'
            }, {
                preset: 'islands#darkOrangeStretchyIcon'
            });
            map.geoObjects.add(myPlacemark1);

            var myPlacemark2 = new ymaps.Placemark([59.862466, 30.131732], {
                iconContent: 'База "Русалочка"'
            }, {
                preset: 'islands#darkOrangeStretchyIcon'
            });
            map.geoObjects.add(myPlacemark2);
            });
        </script>
<!--        <link rel="stylesheet" href="styles.css">-->
<!--        <meta name="google-site-verification" content="i1ZlqZ1bCBAIH6sDQ_q7qA2wZTGVVWl8wdPLElPTyo0" />-->
    </head>
    <body>
        <p style="text-align:center;"> <font size="72">---</font></p>
        <div id="map" style="margin:auto; width: 80%; height: 80%"></div>
    </body>
{% endblock %}